{% extends 'template.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 cell">

            <img id="front-logo" src="{{ url_for('static', filename='img/logo.png') }}" class="img-responsive center-block">

            <div class="body-text">
                Want to advertise your self properly on your dating apps? Want to accurately document the change in your body?
                Look no Further! Square Inch O' Nip can help your measure the surface area of your nipple in no time.  Just provide a measurement of your nipples diameter and Voila'! Your nipples will never be happier with you.
            </div>

            <br>

            <form id="nip-form" method="post">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Nipple Diameter (inches)</span>
                      <input type="number" class="form-control" placeholder="Nipple Diameter (Inches)" aria-describedby="basic-addon2" name="nipple" required>
                            <span class="input-group-btn">
                                <button class="btn btn-success nip-calculate" type="button">Calculate!</button>
                              </span>
                    </div>

                </div>
                <div class="col-md-2"></div>
            </div>
            </form>
            <br>
        </div>
        <div class="col-md-3"></div>

        <div id="display"></div>

    </div>
    <br>
<script>
$(document).ready(function() {
    formSubmit("nip-calculate", "nip-form", "calculate", "display");
});
</script>
{% endblock %}